<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <app-navigation [currentPage]="page" (onCloseSidenav)="onClose($event, sidenav)" [loggedInUser]="loggedInUser" (onLogOut)="logout($event)"></app-navigation>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div fxHide.gt-xs>
                <button mat-icon-button (click)="onToggleSidenav(sidenav)">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>

            <div>Tiles webshop</div>
            <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
                <ul fxLayout fxLayoutGap="10px" class="navigation-items">
                    <li [ngClass]="page === 'shop' ? 'current_page' : ''" routerLink="/shop">Bolt</li>
                    <li [ngClass]="page === 'cart' ? 'current_page' : ''" routerLink="/cart">Kosár</li>
                    <li *ngIf="loggedInUser" class="dropdown" [ngClass]="page === 'settings' || page === 'invoices' ? 'current_page' : ''">Profil
                        <ul class="submenu">
                            <li [ngClass]="page === 'settings' ? 'current_page' : ''" routerLink="/settings">Profil szerkesztése</li>
                            <li [ngClass]="page === 'invoices' ? 'current_page' : ''" routerLink="/invoices">Számlák</li>
                            <li (click)="logout()">Kijelentkezés</li>
                        </ul>
                    </li>
                    <li *ngIf="!loggedInUser" [ngClass]="page === 'login' ? 'current_page' : ''" routerLink="/login">Bejelentkezés</li>
                    <li *ngIf="!loggedInUser" [ngClass]="page === 'register' ? 'current_page' : ''" routerLink="/register">Regisztráció</li>
                </ul>
            </div>
        </mat-toolbar>
        <div class="page_content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
